/* ===================================
   PROficiency PROJECT 2026
   STYLE.CSS - PARTE 1
=================================== */

*{
margin:0;
padding:0;
box-sizing:border-box;
scroll-behavior:smooth;
}

body{

font-family:'Poppins',sans-serif;
background:#f4f7fb;
color:#222;
line-height:1.7;

}

img{

max-width:100%;
display:block;

}

a{

text-decoration:none;

}

.container{

width:90%;
max-width:1200px;
margin:auto;

}

/*==========================
HEADER
===========================*/

header{

position:fixed;
top:0;
left:0;
width:100%;
background:#082b63;
padding:18px 0;
z-index:999;
box-shadow:0 3px 10px rgba(0,0,0,.15);

}

header .container{

display:flex;
justify-content:space-between;
align-items:center;

}

.logo{

font-size:32px;
font-weight:700;
color:white;

}

.logo span{

color:#00c98d;

}

nav{

display:flex;
gap:25px;

}

nav a{

color:white;
font-size:16px;
font-weight:500;
transition:.3s;

}

nav a:hover{

color:#00c98d;

}

.btn-topo{

background:#00c98d;
color:white;
padding:12px 22px;
border-radius:8px;
font-weight:600;
transition:.3s;

}

.btn-topo:hover{

background:#00a874;

}

/*==========================
HERO
===========================*/

.hero{

height:100vh;

background-image:
linear-gradient(rgba(5,25,65,.70),
rgba(5,25,65,.70)),
url("https://images.unsplash.com/photo-1522202176988-66273c2fd55f?w=1600");

background-size:cover;
background-position:center;

display:flex;
justify-content:center;
align-items:center;

}

.overlay{

width:100%;
text-align:center;

}

.hero-content{

width:90%;
max-width:850px;
margin:auto;

}

.hero h1{

font-size:60px;
color:white;
margin-bottom:20px;
font-weight:700;

}

.hero p{

font-size:22px;
color:white;
margin-bottom:40px;

}

.hero-buttons{

display:flex;
justify-content:center;
gap:20px;
flex-wrap:wrap;

}

.btn-primary{

background:#00c98d;
color:white;
padding:16px 34px;
border-radius:10px;
font-size:18px;
font-weight:600;
transition:.3s;

}

.btn-primary:hover{

background:#00a874;

}

.btn-secondary{

background:white;
color:#082b63;
padding:16px 34px;
border-radius:10px;
font-size:18px;
font-weight:600;
transition:.3s;

}

.btn-secondary:hover{

background:#ececec;

}
